.btn-outline-primary{
    margin-right: 8px;
}
.btn-primary{
    margin-right: 8px;
}

.small{
    font-size: 10px;
}

.add{

    margin-bottom: 18px;
}

.m{
    margin-left: 60px;
    margin-top: 50px;
}